{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>

<head>
    <title>My Profile</title>
    {% include "snippets/styles.html" %}
    <!-- Login CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
</head>

<body>
    <!-- Navbar -->
    {% include "snippets/navbar-login.html" %}
    <!-- Navbar End -->

    <!-- My Profile -->
    <div class="container">
        <h1>MY PROFILE</h1>
        <div class="row">
            <div class="col-md-3 left-side">
                <img src="{{ user.profile.image.url }}" class="img-profile rounded-circle img-fluid mx-auto d-block"
                    alt="">
                <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                <span class="mx-auto d-block">Joined 04 Mei 2020</span>
                <div class="HR"></div>
                <ul class="info-profile">
                    <li>
                        <i class="far fa-envelope"></i>
                        <span>{{ user.email }}</span>
                    </li>
                    <li>
                        <i class="fas fa-birthday-cake"></i>
                        <span>16 Februari 2001</span>
                    </li>
                    <li>
                        <i class="fas fa-phone"></i>
                        <span>08123456789</span>
                    </li>
                    <li>
                        <i class="fas fa-map-marked-alt"></i>
                        <span>Pacific Century Place Tower Level 45 SCBD Lot 10, Jl. Jend. Sudirman No.53, RT.5/RW.3,
                            Senayan, Kec. Kby. Baru, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12190</span>
                    </li>
                </ul>

                <a class="log" href="{% url 'user:logout' %}">
                 <i class="fas fa-sign-out-alt"></i><span>log out</span>
                 </a>



            </div>
            <div class="col-md-8 offset-md-1 right-side"> 
                <h1>Edit Profile</h1>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Profile Info</legend>
                        {{ u_form|crispy }}
                        {{ p_form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Update</button>
                        </a>
                    </div>
                </form>
                <a href="{% url 'user:profile' %}">
                    <button class="btn btn-outline-info mb-3">DONE</button>
            </div>
        </div>



    </div>




    <!-- Footer -->
    {% include "snippets/footer.html" %}
    <!-- End Footer -->

    <!-- Scripts -->
    {% include "snippets/scripts.html" %}
    <!-- End Scripts -->

    <!-- JAVASCRIPT -->
    <script type="text/javascript">
        $(".txtb input").on("focus", function () {
            $(this).addClass("focus");
        });

        $(".txtb input").on("blur", function () {
            if ($(this).val() == "")
                $(this).removeClass("focus");
        });
    </script>
    <!-- END JAVASCRIPT -->


</body>

</html>