{% load static %}
<!DOCTYPE html>

<head>
    <title>LOG OUT</title>

  {% include "snippets/styles.html" %}

  <!-- Login CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

</head>
<body>

<!-- Navbar -->
{% include "snippets/navbar.html" %}
<!-- Navbar End -->

<!-- Logout Form -->
<form method="POST" class="login-form">
    {% csrf_token %}
    <h1>Are you sure want to log out ?</h1>
    <input type="submit" class="logbtn" name="logout">
  </form>



<!-- Footer -->
{% include "snippets/footer.html" %}
<!-- End Footer -->


    
  {% include "snippets/scripts.html" %}

  <script type="text/javascript">
    $(".txtb input").on("focus",function(){
      $(this).addClass("focus");
    });

    $(".txtb input").on("blur",function(){
      if($(this).val() == "")
      $(this).removeClass("focus");
    });
  </script>

      
</body>
</html>
