{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">

<!-- Footer -->
<footer>
    <div class="container list">
        <div class="row">
          <div class="col-lg col-md col-sm-4 features">
            <h1>KOLEKSI</h1>
            <ul>
                <a href="">Sepatu</a> <br>
                <a href="">Tumbler</a> <br>
                <a href="">Case</a>
            </ul>
            </div>

          <div class="col-lg col-md col-sm-4 features">
            <H1>PROMO</H1>
            <ul>
                  <a href="">Natal</a> <br>
                  <a href="">Tahun Baru</a> <br>
                  <a href="http://">Lebaran</a>
              </ul>
          </div>

          <div class="col-lg col-md col-sm-4 features">
            <h1>ABOUT US</h1>
            <ul>
                  <a href="">Cerita</a> <br>
                  <a href="">Pencapaian</a> <br>          
                  <a href="http://">Kontak & Alamat</a>
              </ul>
          </div>

          <div class="col-lg col-md col-sm text-center features">
              <h1>FOLLOW US</h1>
              <ul>
                <a href="http://"> <i class="fab fa-instagram"></i> </a>
                <a href="http://"> <i class="fab fa-facebook-square"></i> </a>
                <a href="http://"> <i class="fab fa-youtube"></i> </a>
                <a href="http://"> <i class="fab fa-whatsapp"></i> </a>
                <a href="http://"> <i class="fab fa-twitter"></i></a> 
              </ul>
            </div>
          </div>
      </div>

        <div class="container">
            <div class="row">
           <div class="col copyright text-center">
             <p> &copy; Copyright 2019 | by <i class="fab fa-apple"></i> Rahmat Widhiyana</p>
           </div>
         </div>
       </div>
</footer>

<!-- End Footer -->