{% load static %}
<!DOCTYPE html>

<head>
    <title>TROPICAL SHIRT</title>

  {% include "snippets/styles.html" %}
<!-- Base CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/single.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>

<!-- Navbar -->
{% include "snippets/navbar.html" %}
<!-- Navbar End -->

<div class="product-detail">
  <!-- Single Product -->
  <section class="single-product">
    <div class="product-detail">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <figure class="figure">
            <img src="{% if product.image %}{{ product.image.url }}{% elif spesial.image %}{{ spesial.image.url }}{% else %}{% static 'img/kopi.jpg' %}{% endif %}" class="figure-img img-fluid">
            <figcaption class="figure-caption product-thumbnail-container d-flex justify-content-between">
              <a href="">
                <img src="/static/img/single/thumbnail/1.png">
              </a>
              <a href="">
                <img src="/static/img/single/thumbnail/2.png">
              </a>
              <a href="">
                <img src="/static/img/single/thumbnail/3.png">
              </a>
              <a href="">
                <img src="/static/img/single/thumbnail/4.png">
              </a>
            </figcaption>
          </figure>
        </div>

        <div class="col-lg-4">
          <h3>{{ product.name }}</h3>
          <h4 class="text-muted">Rp {{ product.price }}</h4>

          <div id="size" class="size-product">
            <ul class="clearfix">
              <li class="size active">
                <span>39</span>
              </li>
               
              <li>
                <span>40</span>
              </li>
  
              <li>
                <span>41</span>
              </li>

              <li>
                <span>42</span>
              </li>
              
            </ul>
          </div>

          <button type="button" class="btn btn-sm btn-warning qty-minus" style="color: white;">
            <i class="fas fa-minus-circle"></i> </button>
          <input class="quantity" type="numeric" value="3" />
          <button type="button" class="btn btn-sm btn-success qty-plus" style="color: white;"><i
              class="fas fa-plus-circle"></i></button>
              
          <div class="btn-product">
            <!-- <input type="submit" class="btn btn-warning text-white" value="Add to cart"> -->
            <a href="" class="btn" style="background-color: #EAEAEF; color: #ADADAD;">Add to Wishlist</a>
          </div>

          <!-- <div class="designed-by">
            <h5>Designed by</h5>
            <div class="row">
              <div class="col-2">
                <img src="/static/img/single/2.png">
              </div>
              <div class="col">
                <h4>Anne Mortgery</h4>
                <p>14.2K <span>Followers</span></p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    
  
  </section>


  <!-- Product Description & Review -->
  <section class="product-description p-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab"
                aria-controls="description" aria-selected="true">Product Description</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
                aria-selected="false">Reviews (20)</a>
            </li>
          </ul>
          <div class="tab-content p-3" id="myTabContent">
            <div class="tab-pane fade show active product-review" id="description" role="tabpanel"
              aria-labelledby="description-tab">
              
              <p>{{ product.description}}</p>
            </div>
            <div class="tab-pane fade product-review" id="review" role="tabpanel" aria-labelledby="review-tab">
              <div class="row">
                <div class="col-1 d-none d-md-block">
                  <img src="/static/img/single/review/1.png">
                </div>
                <div class="col">
                  <h5>Joe Mackenzie</h5>
                  <p>Produknya bagus dan bahannya juga rapih cocok untuk kulit</p>
                </div>
              </div>
              <div class="row">
                <div class="col-1 d-none d-md-block">
                  <img src="/static/img/single/review/2.png">
                </div>
                <div class="col">
                  <h5>Brian Smith</h5>
                  <p>Produknya bagus dan bahannya juga rapih cocok untuk kulit</p>
                </div>
              </div>
              <div class="row">
                <div class="col-1 d-none d-md-block">
                  <img src="/static/img/single/review/1.png">
                </div>
                <div class="col">
                  <h5>Joe Mackenzie</h5>
                  <p>Produknya bagus dan bahannya juga rapih cocok untuk kulit</p>
                </div>
              </div>
              <div class="row">
                <div class="col-1 d-none d-md-block">
                  <img src="/static/img/single/review/2.png">
                </div>
                <div class="col">
                  <h5>Brian Smith</h5>
                  <p>Produknya bagus dan bahannya juga rapih cocok untuk kulit</p>
                </div>
              </div>
              <div class="row">
                <div class="col-1 d-none d-md-block">
                  <img src="/static/img/single/review/1.png">
                </div>
                <div class="col">
                  <h5>Joe Mackenzie</h5>
                  <p>Produknya bagus dan bahannya juga rapih cocok untuk kulit</p>
                </div>
              </div>
              <div class="row">
                <div class="col-1 d-none d-md-block">
                  <img src="/static/img/single/review/2.png">
                </div>
                <div class="col">
                  <h5>Brian Smith</h5>
                  <p>Produknya bagus dan bahannya juga rapih cocok untuk kulit</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  </section>
</div>
  <!-- Akhir Product Description & Review -->


  <!-- Similar Product -->
  <section class="similar-product">
    <div class="container">
      <div class="row mb-3">
        <div class="col">
          <h3>Similar Products</h3>
          <p>Pakaian pelengkap produk di atas</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <figure class="figure">
            <img src="/static/img/single/similar/1.png" class="figure-img img-fluid">
            <figcaption class="figure-caption">
              <div class="row">
                <div class="col">
                  <h4>Hatty Bomb</h4>
                  <p>Match 20%</p>
                </div>
                <div class="col align-items-center d-flex justify-content-end">
                  <p style="font-size: 18px;">IDR. 209.000</p>
                </div>
              </div>
            </figcaption>
          </figure>
        </div>
        <div class="col-sm-4">
          <figure class="figure">
            <img src="/static/img/single/similar/2.png" class="figure-img img-fluid">
            <figcaption class="figure-caption">
              <div class="row">
                <div class="col">
                  <h4>White Pure</h4>
                  <p>Match 20%</p>
                </div>
                <div class="col align-items-center d-flex justify-content-end">
                  <p style="font-size: 18px;">IDR. 209.000</p>
                </div>
              </div>
            </figcaption>
          </figure>
        </div>
        <div class="col-sm-4">
          <figure class="figure">
            <img src="/static/img/single/similar/3.png" class="figure-img img-fluid">
            <figcaption class="figure-caption">
              <div class="row">
                <div class="col">
                  <h4>Hatty Bomb</h4>
                  <p>Match 20%</p>
                </div>
                <div class="col align-items-center d-flex justify-content-end">
                  <p style="font-size: 18px;">IDR. 209.000</p>
                </div>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
  <!-- Akhir Similar Product -->
      

<!-- Footer -->
{% include "snippets/footer.html" %}
<!-- End Footer -->

{% include "snippets/scripts.html" %}
<script src="/static/js/size.js" type="text/javascript"></script>
<script src="/static/js/quantity.js" type="text/javascript"></script>

</body>
</html>